:root {
    --body-font: 'Quicksand', sans-serif;
    --header-font: 'Urbanist', sans-serif;
    --body-text-color: #0d162b;
    --bg-color: #FAF3E0;
    --navbar-height: 80px;
    --footer-height: 40px;
    --hf-bg-color: #202957;
    --hf-text-color: #9084bf;
    --h1-color: #45457f;
    --h2-color: #574f88;
    --link-color: #5481be;
    --link-visited-color: #303469;
    --link-hover-color: #626493;
    --hf-link-color: #aaacd9;
    --hf-link-hover-color: #626493;
    --hf-transform: scale(1.1);
}

body {
    background-color: var(--bg-color);
    color: var(--body-text-color);
    font-family: var(--body-font);
    font-size: 19px;
}

.other-content {
    padding: 20px;
    margin-top: var(--navbar-height);
    margin-bottom: var(--footer-height);
}

a {
    color: var(--link-color);
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    text-decoration: underline;

    &:visited {
        color: var(--link-visited-color);
    }

    &:hover {
        color: var(--link-hover-color);
        transform: scale(1.05);
        text-decoration: none;
    }
}

/* HEADERS */
h1, h2, h3 {
    font-family: var(--header-font);
}

h1 {
    padding-bottom: 3px;
    font-size: 35px;
    color: var(--h1-color);
}

h2 {
    padding-bottom: 2px;
    font-size: 25px;
    color: var(--h2-color)
}

h3 {
    padding-bottom: 1px;
    font-size: 22px;
}

.headshot {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 25px;
}

/* COLUMNS */
.column-view {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 75px;
}

.column-one {
    flex: 1;
    padding: 10px;
    border-right: 2px solid var(--hf-bg-color); 
}

.column-two {
    flex: 3;
    padding: 10px;
}

/* TABLE OF CONTENTS */
.toc {
    position: sticky;
    top: calc(var(--navbar-height) + 20px);
    max-height: calc(100vh - 60px);
    overflow: visible;

    a {
        color: var(--link-visited-color);
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding-left: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 2px;
            background: var(--h2-color);
        }
    }
}

#section1, #section2, #section3 {
    scroll-margin-top: calc(var(--navbar-height) * 1.25);
}

/* NAVBAR and FOOTER */
.bar {
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--hf-bg-color);
    color: var(--hf-text-color);
    padding: 5px 20px;
    display: flex;
}

.navbar {
    top: 0px;
    height: var(--navbar-height);
}

.footer {
    bottom: 0px;
    height: var(--footer-height);
}

.nav-links, .footer-content, .name {
    font-family: var(--header-font);
    display: flex;
}

.nav-links, .name {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    gap: 20px;
}

.nav-links {
    margin-top: 12px;

    li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.name {
    margin-right: 20px;
}

.nav-links li a, .footer a {
    color: var(--hf-link-color);
    text-decoration: none;
}

.nav-links li a:hover, .footer a:hover {
    color: var(--hf-link-hover-color);
    transform: var(--hf-transform);
    text-decoration: none;
}

.footer-content {
    margin-top: 3px;
    font-size: 22px;
}