body {
    background-color: #FAF3E0;
    color: #0d162b;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.other-content {
    padding: 20px;
    margin-top: 80px;
}

/* a {
    color: #5FAFF9;
}

a:hover {
    color: #FFDF00;
    font-size: 110%;
    text-decoration: none;
} */

h1 {
    padding-bottom: 10px;
    font-family: 'Urbanist', sans-serif;
}

.column-view {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 75px;
}

.column-one {
    flex: 1;
    padding: 10px;
    border-right: 2px solid #202957; 
}

.toc {
    position: sticky;
    top: 90px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    float: left;
}

.column-two {
    flex: 3;
    padding: 10px;
}

#section1 {
    scroll-margin-top: 80px;
}

.navbar {
    width:100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: #202957;
    color: #9084bf;
    padding: 5px 20px;
    display: flex;
    height: 80px;
}

.nav-links {
    list-style: none;
    margin-top: 12px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    display: inline-block; /* ensures transform works nicely */
    transition: transform 0.2s ease, color 0.2s ease;
    font-weight: bold;
    color: #aaacd9;
    font-size: 30px;
    font-family: 'Urbanist', sans-serif;
}

.nav-links li a:hover {
    color: #626493;
    transform: scale(1.1); /* scales text smoothly without affecting layout */
    text-decoration: none;
}

.nav-links li:last-child {
    margin-right: 0;
}

.btn {
    background-color: lightgray;
}

button.btn.btn-primary {
    background-color: #222222;
}

button.btn.btn-link {
    background-color: #222222;
    border-color: #007bff;
    border-radius: 5px;
}

button.btn.btn-primary:disabled {
    background-color: #111111;
}

button.btn.btn-primary:hover:enabled {
    background-color: #444444;
}

.table td, .table th {
    color: #000000;
}

button.btn.btn-success.btn-full-size {
    width:100%;
    background-color: #222222;
}

button.btn.btn-success.btn-full-size:hover {
    background-color: #444444;
}

button.btn.btn-sm {
    background-color: #222222;
    color: #ffffff;
}

button.btn.btn-sm:hover:enabled {
    background-color: #444444;
}

td {
    color: #ffffff;
}

li.list-group-item {
    background-color: #222222;
}